:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-background-color: #E5E5E5;
    --block-color: #2F303A;
    --white-color: #ffffff;
}
body {
    background-color: var(--primary-background-color);
    font-family: Roboto;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*header*/
header {
    background-color: #ffffff;
}
.web,
.studio,
.studio-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}
.web {
    color: var(--accent-text-color);
}

.studio {
    color: var(--primary-text-color);
}
.webstudio-link {
    text-decoration: none;
}

/*site nav*/
.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-text-color);
}

/*contacts header*/
.contacts {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-text-color);
}

/*hero*/

.main-title{
    background-color: var(--block-color);
}

.tag-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.order-button {
    color: var(--white-color);
    background-color: var(--accent-text-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--secondary-text-color);
}

.list{
    list-style: none;
}

.features {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
}

.team-list {
    background-color: #F5F4FA;
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.team-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--secondary-text-color);
}

/*footer*/
footer {
    background-color: var(--block-color);
}
.studio-footer {
    color: var(--white-color);
}
.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);
}

.contacts-footer {
    text-decoration: none;
}

.address > a {
    color: rgb(255, 255, 255, 0.6)
}

.address > a:hover,
.address > a:focus {
    color: var(--accent-text-color);
}

/*portfolio*/
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus{
    background-color: var(--accent-text-color);
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.portfolio-item{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-text-color);
}